$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$header-height: 200 px;
$footer-height: 200 px;

$blue-grey100: hsl(209, 61%, 16%);
$blue-grey90: hsl(211, 39%, 23%);
$blue-grey80: hsl(209, 34%, 30%);
$blue-grey70: hsl(209, 28%, 39%);
$blue-grey60: hsl(210, 22%, 49%);
$blue-grey50: hsl(209, 23%, 60%);
$blue-grey40: hsl(211, 27%, 70%);
$blue-grey30: hsl(210, 31%, 80%);
$blue-grey20: hsl(212, 33%, 89%);
$blue-grey10: hsl(210, 36%, 96%);
