header {
  background-color: $blue-grey70;
  height: 300px;

  // Small devices
  @include sm {
    #footer_logo {
      display: block;
    }
  }

  // Medium devices
  @include md {
    height: 120px;
    padding: 50px;
  }

  // Large devices
  @include lg {
  }

  // Extra large devices
  @include xl {
  }

  @include rwd(1400) {
  }
}

#header__image {
  height: 50px;
  width: 50px;
}
