header {
  background-color: $blue-grey70;
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .header__logo-img {
    height: 50px;
    width: 50px;
  }
  #header__logo {
    order: 2;
  }
  #header__auth {
    order: 3;
  }
  #header__nav {
    display: none;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #header__nav-navlist {
  }
  #header__nav-closebtn {
  }
  #header__nav-openbtn {
    display: block;
    order: 1;
  }

  a {
    padding: 5px;
    display: block;
    color: $blue-grey10;
    text-decoration: none; /* no underline */
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a:hover {
    background-color: $blue-grey100;
    text-decoration: underline;
  }
  // Small devices
  @include sm {
  }

  // Medium devices
  @include md {
    height: 120px;
    padding: 50px;
    #header__logo {
      order: 1;
    }
    #header__nav {
      display: block;
      order: 2;
    }
    #header__auth {
      order: 3;
    }
  }

  // Large devices
  @include lg {
  }

  // Extra large devices
  @include xl {
  }

  @include rwd(1400) {
  }
}
